<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" requirePermission="false"/>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" requirePermission="false"/>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching" requirePermission="false"/>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" requirePermission="false"/>
    <section name="assetSettings" type="Kigg.Web.AssetSettingsSection, Kigg.Web" requirePermission="false"/>
    <section name="uri" type="System.Configuration.UriSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection" requirePermission="false" allowLocation="true"/>
  </configSections>

  <loggingConfiguration configSource="loggingConfiguration.config" />
  <exceptionHandling configSource="exceptionHandling.config" />
  <cachingConfiguration configSource="cachingConfiguration.config"/>
  <unity configSource="unity.ef.config"/>
  <!--<unity configSource="unity.l2s.config"/>-->

  <!-- The uri section is necessary to turn on .NET 3.5 support for IDN (international domain names),
	     which is necessary for OpenID urls with unicode characters in the domain/host name. 
	     It is also required to put the Uri class into RFC 3986 escaping mode, which OpenID and OAuth require. -->
  <uri>
    <idn enabled="All"/>
    <iriParsing enabled="true"/>
  </uri>

  <appSettings>
    <clear/>
    <add
        key="dependencyResolverTypeName"
        value="Kigg.Infrastructure.EnterpriseLibrary.UnityDependencyResolver, Kigg.Infrastructure.EnterpriseLibrary"
        />
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="KiGGDatabase"
         connectionString="Data Source=(local);Database=KiGG;uid=UserName;password=YourPassword;MultipleActiveResultSets=false"
         providerName="System.Data.SqlClient"/>
    <add name="KiGGMySqlDatabase"
         connectionString="server=localhost;user id=root;password=Password;persist security info=True;database=KiGG"
         providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>


  <assetSettings version="3.0.0.0" cacheDurationInDays="0" generateETag="false">
    <assets>
      <clear/>
      <add
          name="css"
          contentType="text/css"
          directory="~/Assets/StyleSheets"
          files="site.min.css;ui.jquery.min.css;marItUp.min.css;colorPicker.min.css"
            />
      <add
          name="js1"
          contentType="application/x-javascript"
          directory="~/Assets/JavaScripts"
          files="GloablErrorHandler.min.js;SmoothImage.min.js"
            />
      <add
          name="js2"
          contentType="application/x-javascript"
          directory="~/Assets/JavaScripts"
          files="OpenID.min.js;jquery-1.2.6.min.js;jquery.form.min.js;jquery.validate.min.js;ui.core.min.js;ui.tabs.min.js;ui.draggable.min.js;ui.resizable.min.js;ui.dialog.min.js;Utility.min.js;Search.min.js;Tag.min.js;Membership.min.js;Story.min.js;Analytics.min.js"
            />
      <add
          name="js3"
          contentType="application/x-javascript"
          directory="~/Assets/JavaScripts"
          files="ui.autocomplete.min.js;jquery.markitup.min.js;showdown.js;colorpicker.min.js;RichEditor.min.js;ImageCode.min.js;Comment.min.js"
            />
      <add
          name="faq"
          contentType="application/x-javascript"
          directory="~/Assets/JavaScripts"
          files="Faq.min.js"
            />
      <add
          name="contact"
          contentType="application/x-javascript"
          directory="~/Assets/JavaScripts"
          files="Contact.min.js"
            />
      <add
          name="moderation"
          contentType="application/x-javascript"
          directory="~/Assets/JavaScripts"
          files="Moderation.min.js"
            />
      <add
          name="administration"
          contentType="application/x-javascript"
          directory="~/Assets/JavaScripts"
          files="Administration.min.js"
            />
    </assets>
  </assetSettings>
  <!-- this is an optional configuration section where aspects of dotnetopenauth can be customized -->
  <dotNetOpenAuth>
    <openid>
      <relyingParty>
        <security requireSsl="false" />
        <behaviors>
          <!-- The following OPTIONAL behavior allows RPs to use SREG only, but be compatible
								 with OPs that use Attribute Exchange (in various formats). -->
          <add type="DotNetOpenAuth.OpenId.Behaviors.AXFetchAsSregTransform, DotNetOpenAuth" />
        </behaviors>
      </relyingParty>
    </openid>
    <messaging>
      <untrustedWebRequest>
        <whitelistHosts>
          <!-- since this is a sample, and will often be used with localhost -->
          <add name="localhost" />
        </whitelistHosts>
      </untrustedWebRequest>
    </messaging>
  </dotNetOpenAuth>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption
            name="CompilerVersion"
            value="v3.5"
                />
        <providerOption
            name="WarnAsError"
            value="false"
                />
      </compiler>
    </compilers>
  </system.codedom>
  <system.net>
    <connectionManagement>
      <add
          address="*"
          maxconnection="1000"
            />
    </connectionManagement>
    <settings>
      <servicePointManager
          expect100Continue="false"
            />
    </settings>
    <mailSettings>
      <smtp from="admin@localkigg.com" deliveryMethod="Network">
        <network
            host="localhost"
            port="25"
            defaultCredentials="true"
                />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <trust level="Full"/>
    <authentication mode="Forms">
      <forms
          name="KiGGLogin" path="/" protection="All" timeout="1440" slidingExpiration="true"
            />
    </authentication>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <clear/>
          <!-- 2 Days -->
          <add
              name="JsonUrlCache"
              duration="172800"
              varyByParam="*"
                    />
          <!-- 1 Hour -->
          <add
              name="JsonTagCache"
              duration="3600"
              varyByParam="*"
                    />
          <!-- 5 Minute -->
          <add
              name="JsonStoryCache"
              duration="300"
              varyByParam="*"
                    />
          <!-- half an Hour -->
          <add
              name="FeedCache"
              duration="1800"
              varyByParam="*"
                    />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <compilation debug="false">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Abstractions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <customErrors mode="RemoteOnly" defaultRedirect="~/ErrorPages/Generic.aspx">
      <error statusCode="403" redirect="~/ErrorPages/AccessDenied.aspx"/>
      <error statusCode="404" redirect="~/ErrorPages/NotFound.aspx"/>
      <error statusCode="503" redirect="~/ErrorPages/Offline.aspx"/>
    </customErrors>
    <httpHandlers>
      <add
          verb="GET,HEAD"
          path="asset.axd"
          validate="false"
          type="Kigg.Web.AssetHandler, Kigg.Web"
            />
      <add
          verb="GET,HEAD"
          path="image.axd"
          validate="false"
          type="Kigg.Web.ImageHandler, Kigg.Web"
            />
      <add
          verb="GET,HEAD"
          path="share.axd"
          validate="false"
          type="Kigg.Web.ShareHandler, Kigg.Web"
            />
      <add
          verb="GET,HEAD"
          path="*sitemap.axd"
          validate="false"
          type="Kigg.Web.SiteMapHandler, Kigg.Web"
            />
      <add
          verb="GET,HEAD"
          path="opensearch.axd"
          validate="false"
          type="Kigg.Web.OpenSearchHandler, Kigg.Web"
            />
      <add
          verb="GET,HEAD"
          path="xrds.axd"
          validate="false"
          type="Kigg.Web.XrdsHandler, Kigg.Web"
            />
      <!--add
          verb="GET,HEAD"
          path="ChartImg.axd"
          validate="false"
          type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            /-->
      <add
          verb="*"
          path="*.mvc"
          validate="false"
          type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
            />
    </httpHandlers>
    <httpModules>
      <remove name="WindowsAuthentication"/>
      <remove name="PassportAuthentication"/>
      <remove name="UrlAuthorization"/>
      <remove name="FileAuthorization"/>
      <remove name="AnonymousIdentification"/>
      <remove name="Session"/>
      <remove name="Profile"/>
      <remove name="ServiceModel"/>
      <remove name="ErrorHandlerModule"/>
      <remove name="RoleManager"/>
      <add
          name="RemoveWwwRedirector"
          type="Kigg.Web.RemoveWwwRedirector, Kigg.Web"
            />
      <add
          name="IPBlock"
          type="Kigg.Web.IPBlock, Kigg.Web"
            />
      <add
          name="ErrorHandler"
          type="Kigg.Web.ErrorHandler, Kigg.Web"
            />
      <!--
            <add
                name="Offline"
                type="Kigg.Web.Offline, Kigg.Web"
            />
            -->
      <add
          name="UrlRoutingModule"
          type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
            />
      <add
          name="UnityPerWebRequestLifetimeModule"
          type="Kigg.Infrastructure.EnterpriseLibrary.UnityPerWebRequestLifetimeModule, Kigg.Infrastructure.EnterpriseLibrary"
            />
    </httpModules>
    <globalization
        requestEncoding="utf-8"
        responseEncoding="utf-8"
        culture="en-US"
        uiCulture="en-US"
        />
    <machineKey
        validationKey="CE56C8154C2D6C1B3DBB0176212977497EA57C88"
        decryptionKey="9469457821A6CD09CDD744F29661B33924009F494AC9FF4A"
        validation="SHA1"
        decryption="3DES"
        />
    <pages enableViewState="false" enableSessionState="false">
      <namespaces>
        <add
            namespace="System.Collections.Generic"
                />
        <add
            namespace="System.Linq"
                />
        <add
            namespace="System.Web.Mvc"
                />
        <add
            namespace="System.Web.Mvc.Html"
                />
        <add
            namespace="Kigg"
                />
        <add
            namespace="Kigg.DomainObjects"
                />
        <add
            namespace="Kigg.Web"
                />
      </namespaces>
      <controls>
        <!--add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/-->
        <add tagPrefix="kigg" namespace="Kigg.Web" assembly="Kigg.Web"/>
      </controls>
    </pages>
    <sessionState mode="Off"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add
          name="AssetHandler"
          preCondition="integratedMode"
          verb="GET,HEAD"
          path="asset.axd"
          type="Kigg.Web.AssetHandler, Kigg.Web"
            />
      <add
          name="ImageHandler"
          preCondition="integratedMode"
          verb="GET,HEAD"
          path="image.axd"
          type="Kigg.Web.ImageHandler, Kigg.Web"
            />
      <add
          name="ShareHandler"
          preCondition="integratedMode"
          verb="GET,HEAD"
          path="share.axd"
          type="Kigg.Web.ShareHandler, Kigg.Web"
            />
      <add
          name="SiteMapHandler"
          preCondition="integratedMode"
          verb="GET,HEAD"
          path="*sitemap.axd"
          type="Kigg.Web.SiteMapHandler, Kigg.Web"
            />
      <add
          name="OpenSearchHandler"
          preCondition="integratedMode"
          verb="GET,HEAD"
          path="opensearch.axd"
          type="Kigg.Web.OpenSearchHandler, Kigg.Web"
            />
      <add
          name="XrdsHandler"
          preCondition="integratedMode"
          verb="GET,HEAD"
          path="xrds.axd"
          type="Kigg.Web.XrdsHandler, Kigg.Web"
            />
      <!--add
          name="ChartHandler"
          preCondition="integratedMode"
          verb="GET,HEAD"
          path="ChartImg.axd"
          type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            /-->
      <add
          name="MvcHttpHandler"
          preCondition="integratedMode"
          verb="*"
          path="*.mvc"
          type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
            />
      <add
          name="UrlRoutingHandler"
          preCondition="integratedMode"
          verb="*"
          path="UrlRouting.axd"
          type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
            />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WindowsAuthentication"/>
      <remove name="PassportAuthentication"/>
      <remove name="UrlAuthorization"/>
      <remove name="FileAuthorization"/>
      <remove name="AnonymousIdentification"/>
      <remove name="Session"/>
      <remove name="Profile"/>
      <remove name="ServiceModel"/>
      <remove name="ErrorHandlerModule"/>
      <remove name="RoleManager"/>
      <remove name="ScriptModule"/>
      <remove name="RemoveWwwRedirector"/>
      <remove name="IPBlock"/>
      <remove name="ErrorHandler"/>
      <remove name="Offline"/>
      <remove name="UrlRoutingModule"/>
      <remove name="UnityPerWebRequestLifetimeModule"/>
      <add
          name="RemoveWwwRedirector"
          type="Kigg.Web.RemoveWwwRedirector, Kigg.Web"
            />
      <add
          name="IPBlock"
          type="Kigg.Web.IPBlock, Kigg.Web"
            />
      <add
          name="ErrorHandler"
          type="Kigg.Web.ErrorHandler, Kigg.Web"
            />
      <!--
            <add
                name="Offline"
                type="Kigg.Web.Offline, Kigg.Web"
            />
            -->
      <add
          name="UrlRoutingModule"
          type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
            />
      <add
          name="UnityPerWebRequestLifetimeModule"
          type="Kigg.Infrastructure.EnterpriseLibrary.UnityPerWebRequestLifetimeModule, Kigg.Infrastructure.EnterpriseLibrary"
            />
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider"
           invariant="MySql.Data.MySqlClient"
           description=".Net Framework Data Provider for MySQL"
           type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.0.3.0, Culture=neutral, PublicKeyToken=92c3c527cdfe7566" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>